//////////////////////////////////////////////
// The code below was originally copied from
// codeclub_lesson_builder/styles/main.less
// and
// codeclub_lesson_builder/styles/lesson.less
//////////////////////////////////////////////
@import '../../../node_modules/highlight.js/styles/idea';
@import '../../styles/variables';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables';

// NOTE: .container should only contain "general" styling, i.e. not class names (but e.g. tags).
//       If there is a need to use class names, consider creating separate React components,
//       and add them via htmlToReact.js
.container {
  ul {
    padding: 0;
    margin: 0 0 20px;

    > li::before { // Show blue circle
      content: " ";
      border-radius: 20px;
      border: 3px solid $checkbox-blue;
      padding: 8px;
      float: left;
      margin-left: -40px;
      margin-top: 2px;
    }
    > li {
      list-style: none;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 45px;
    }
  }

  ol {
    > li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 0; // Remove margins for nested lists
  }

  // code blocks
  pre > code {
    // override hljs background
    background-color: transparent;
  }

  //// tables
  table {
    // add table class to all tables, assumes that tables are only used
    // for listing stuff and is not in use for other components like calendars
    @extend .table;
  }

  // horisontal scroll on screens, do not wrap
  // not keyword negate _whole_ media query,
  // making `(not print) and (min-width: @screen-sm)` impossible
  @media aural, braille, handheld, projection, screen, tty, tv, embossed {
    pre > code {
      word-wrap: normal;
      white-space: pre;
    }
  }

}
